.gallery{
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(4, 200px);
    justify-content: center;
    align-content: center;
    gap: 5px;
    height:100vh;
}

.gallery img{
    border-radius: 10px;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.gallery img:hover{
    transform: scale(1.02);
    transition: 0.4s;
    cursor: pointer;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-img{
    border-radius: 20px;
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    display: block;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.close-modal{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 50px;
    cursor: pointer;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 900;
}