@media all and (min-width: 768px) and (max-width: 1023px){
    .logo{
        width: 500px;
    }

    .container-opinion{
        grid-template-columns: repeat(2, 300px);
    }

    .gallery{
        grid-template-columns: repeat(3, 200px);
        grid-template-rows: repeat(3, 200px);
    }
}

@media all and (min-width: 1024px){
    .logo{
        width: 700px;
    }

    .container-opinion{
        grid-template-columns: repeat(2, 450px);
    }

    .gallery{
        grid-template-columns: repeat(4, 250px);
        grid-template-rows: repeat(2, 250px);
        gap: 10px;
    }

    .gallery img{
        height: 250px;
        width: 250px;
    }

    .map{
    height: 30%;
    width: 50%;
}

.form{
    width: 50%;
    height: 30%;
}
}
