*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
}

.img-nav{
    position: absolute;
    width: 100%;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    color: #f2f2f2;
}

.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
}

.list-container{
    display: flex;
    list-style: none;
    position: fixed;
    background: #f2f2f2;
    justify-content: space-evenly;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 0px 5px #000;
}

.element{
    color: #000;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 10px;
    margin: 10px;
}

a{
    color: #000;
    text-decoration: none;
}

h1{
    position: relative;
    top: 50%;
}

.container-we{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 80px;
}

.container-we .we h4{
    margin-bottom: 1rem;
    text-decoration: underline;
}

.we{
    margin: 2%;
}

.img-we{
    margin-top: 4rem;
}

.container-people{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
}

.people{
    margin: 3rem;
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.people:hover{
    box-shadow: 0px 0px 5px #777;
}

.avatar{
    border-radius: 50%;
    height: 120px;
    padding: 15px;
}

.container-form{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.container-form .form input{
    padding: 5px;
    margin: 10px;
    border: none;
    border-bottom: 2px solid #fad497;
    background: none;
}

.container-form .form input:focus{
    outline: none;
}

.container-form .form input::placeholder{
    color: #000;
}

.container-form .form textarea:focus{
    outline: none;
}

.container-form .form textarea::placeholder{
    color: #000;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #f2f2f2;
    padding: 2rem;
    margin: 2rem;
    width: 80%;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #000;
}

label{
    text-align: center;
    margin-bottom: 15px;
}

.area{
    padding: 5px;
    margin: 10px;
    border: none;
    border-bottom: 2px solid #fad497;
    background: none;
    height: 100px;
}

.btn{
    border: 2px solid #fad497;
    background: #fad497;
    border-radius: 10px;
    padding: 5px;
}


#contact{
    background: #f2f2f2;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-footer{
    display: flex;
    justify-content: center;
}

.social{
    list-style: none;
    margin: 5px;
}



/* MODIFY SCROLLBAR FIREFOX*/
*{
    scrollbar-width: thin;
    scrollbar-color: transparent #E7B464;
}

/* MODIFY SCROLLBAR CHROME EDGE SAFARI*/
*::-webkit-scrollbar{
    width: 10px;
}

*::-webkit-scrollbar-track{
    background: #f2f2f2;
}

*::-webkit-scrollbar-thumb{
    background: #f1d9b1;
    border-radius: 20px;
    border: #f1d9b1;
}