---
import Layout from '../layouts/Layout.astro'
import "./about.css"
---

<Layout>
    <main class="mainCont">
        <a class="sign" href="..">🡸</a>
        <h1 class="mainContTitle">About</h1>
        <p class="mainContP">
            <b>La Arboleda en Carpinteria</b> posee dos unidades vacacionales en un predio de 2500 metros cuadrados, rodeado por el entorno natural de la Sierra de los Comechingones.<br><br>
            Estás cabañas son el refugio perfecto para aquellos que buscan escapar del bullicio de la ciudad y sumergirse en la serenidad, rodeadas de naturaleza y con la imponente presencia de las Sierras de los Comechingones como telón de fondo, te espera una experiencia inolvidable en Carpintería, San Luis.
        </p>
        
        <h2 class="opinionsTitle">Opiniones</h2>
        <section class="opinionCont">
            <div class="opinion">
                <h3>Julia Vagni</h3>
                <p class="stars">★★★★★</p>
                <p>"Excelente cabaña para ir en familia, la pileta está bárbara. Impecable todo."</p>
            </div>
            <div class="opinion">
                <h3>Victor Magnarelli</h3>
                <p class="stars">★★★★</p>
                <p>"Excelente lugar! todo de 10!"</p>
            </div>
            <div class="opinion">
                <h3>Jesica Paula</h3>
                <p class="stars">★★★★★</p>
                <p>"Súper recomendable para ir con la familia."</p>
            </div>
            <div class="opinion">
                <h3>Leo Fuentes</h3>
                <p class="stars">★★★★</p>
                <p>"Excelente lugar ... una vista increíble de la sierra!!!"</p>
            </div>
            <div class="opinion">
                <h3>Gustavo Cervilla</h3>
                <p class="stars">★★★★★</p>
                <p>"Total tranquilidad y sociego"</p>
            </div>
            <div class="opinion">
                <h3>Javier Alvarez</h3>
                <p class="stars">★★★★</p>
                <p>"Excelente lugar, para disfrutar y descansar."</p>
            </div>
        </section>
    </main>
</Layout>