---
import Layout from '../layouts/Layout.astro'
---

<Layout title='About La Arboleda'>
    <main class="mainCont">
        <a class="sign" href="..">&laquo;</a>
        <h1 class="mainContTitle">About</h1>
        <p class="mainContP">
            <b>La Arboleda en Carpinteria</b> posee dos unidades vacacionales en un predio de 2500 metros cuadrados, rodeado por el entorno natural de la Sierra de los Comechingones.<br><br>
            Estás cabañas son el refugio perfecto para aquellos que buscan escapar del bullicio de la ciudad y sumergirse en la serenidad, rodeadas de naturaleza y con la imponente presencia de las Sierras de los Comechingones como telón de fondo, te espera una experiencia inolvidable en Carpintería, San Luis.
        </p>
        
        <h2 class="opinionsTitle">Opiniones</h2>
        <section class="opinionCont">
            <div class="opinion">
                <h3>Julia Vagni</h3>
                <p class="stars">★★★★★</p>
                <p>"Excelente cabaña para ir en familia, la pileta está bárbara. Impecable todo."</p>
            </div>
            <div class="opinion">
                <h3>Victor Magnarelli</h3>
                <p class="stars">★★★★</p>
                <p>"Excelente lugar! todo de 10!"</p>
            </div>
            <div class="opinion">
                <h3>Jesica Paula</h3>
                <p class="stars">★★★★★</p>
                <p>"Súper recomendable para ir con la familia."</p>
            </div>
            <div class="opinion">
                <h3>Leo Fuentes</h3>
                <p class="stars">★★★★</p>
                <p>"Excelente lugar ... una vista increíble de la sierra!!!"</p>
            </div>
            <div class="opinion">
                <h3>Gustavo Cervilla</h3>
                <p class="stars">★★★★★</p>
                <p>"Total tranquilidad y sociego"</p>
            </div>
            <div class="opinion">
                <h3>Javier Alvarez</h3>
                <p class="stars">★★★★</p>
                <p>"Excelente lugar, para disfrutar y descansar."</p>
            </div>
        </section>
    </main>
</Layout>

<style>
.mainCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    max-width: 900px;
}

.sign {
    position: absolute;
    top: 20px;
    left: 25px;
    color: #d1272d;
    text-decoration: none;
    align-self: start;
    scale: 3;
    transition: scale 0.3s ease-in-out;
}

.sign:hover{
    scale: 3.5;
    color: #f2f2f2;
}

.mainContTitle {
    font-size: 64px;
    border-bottom: 2px solid #d1272d;
    width: fit-content;
    cursor: default;
    margin-top: 15px;
}

b{
    color: #d1272d;
}

.opinionsTitle{
    font-size: 24px;
    border-bottom: 2px solid #d1272d;
    width: fit-content;
    cursor: default;
    margin-top: 50px;
}

.opinionCont{
    display: grid;
    grid-template-columns: 1fr;
}

.opinionCont > div{
    border-bottom: #d1272d .1rem solid;
    margin-bottom: 2rem;
}

.opinionCont > div > h3{
    display: inline-block;
    width: fit-content;
    margin: 20px 20px 0 0;
}

.opinionCont > div > .stars {
    display: inline-block;
    width: fit-content;
    margin: 0;
}

.stars{
    color: #d1272d;
}

@media screen and (min-width: 900px) {
    .opinionCont{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    
}
</style>