:root {
    background-color: Canvas;
    color: CanvasText;
    color-scheme: dark light;
    font-family: system-ui, sans-serif;
}

.mainCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.sign {
    color: #d1272d;
    text-decoration: none;
    align-self: start;
    scale: 1.5;
    transition: scale 0.3s ease-in-out;
}

.sign:hover{
    scale: 2;
}

.mainContTitle {
    font-size: 92px;
    border-bottom: 2px solid #d1272d;
    width: fit-content;
    cursor: default;
    margin-top: 15px;
}

b{
    color: #d1272d;
}

.opinionsTitle{
    font-size: 32px;
    border-bottom: 2px solid #d1272d;
    width: fit-content;
    cursor: default;
    margin-top: 100px;
}

.opinionCont > div{
    border-bottom: #d1272d .1rem solid;
    margin-bottom: 2rem;
}

.opinionCont > div > h3{
    display: inline-block;
    width: fit-content;
    margin: 20px 20px 0 0;
}

.opinionCont > div > .stars {
    display: inline-block;
    width: fit-content;
    margin: 0;
}

.stars{
    color: #d1272d;
}
