---
import Layout from "../layouts/Layout.astro"
---

<Layout title="La Arboleda">
  <main class="mainCont">
    <a class="sign" href="..">&laquo;</a>
    <h1 class="mainContTitle">Gallery</h1>
    <section class="mainGallery">
      <img class="photo" src="https://res.cloudinary.com/ddmtmwlja/image/upload/v1699382012/zeiwhse3dhrriaje08py.webp" alt="view of the huts">
      <img class="photo" src="https://res.cloudinary.com/ddmtmwlja/image/upload/v1699382012/bpqjmmgqp0jzfj4mijur.webp" alt="view of the huts">
      <img class="photo" src="https://res.cloudinary.com/ddmtmwlja/image/upload/v1699382013/un4txjkjauzccmsum9sl.webp" alt="a view of the swimming pool from the hut">
      <img class="photo" src="https://res.cloudinary.com/ddmtmwlja/image/upload/v1699382013/l2llxupapuqhrdsqmrgs.webp" alt="view of the park">
      <img class="photo" src="https://res.cloudinary.com/ddmtmwlja/image/upload/v1699382013/tuaooh28bzrvxvfukwar.webp" alt="a breakfast in the park">
      <img class="photo" src="https://res.cloudinary.com/ddmtmwlja/image/upload/v1699382013/rrtyoultr61le5nj0pgh.webp" alt="view of the sunset">
      <img class="photo" src="https://res.cloudinary.com/ddmtmwlja/image/upload/v1699382013/dyc7x5thcxrtyq8gmbrq.webp" alt="a flower">
      <img class="photo" src="https://res.cloudinary.com/ddmtmwlja/image/upload/v1699382013/tvdyh3dz9caqsroi2v9p.webp" alt="a sign of the huts">
      <img class="photo" src="https://res.cloudinary.com/ddmtmwlja/image/upload/v1699382014/r8kh9zzcfgzqjzk7acus.webp" alt="swimming pool">
      <img class="photo" src="https://res.cloudinary.com/ddmtmwlja/image/upload/v1699382013/npldjwb3rpg8plpzkvxr.webp" alt="a view of the entrie to the huts">
      <img class="photo" src="https://res.cloudinary.com/ddmtmwlja/image/upload/v1699382014/bkiedukodxhqldagm1oy.webp" alt="a view of the huts from the swimming pool">
      <img class="photo" src="https://res.cloudinary.com/ddmtmwlja/image/upload/v1699382014/pz19vpesemevawouzhs4.webp" alt="a view of the huts">
      <img class="photo" src="https://res.cloudinary.com/ddmtmwlja/image/upload/v1699382014/nd2amcbwsj0mrispte2g.webp" alt="a tree in the park">
      <img class="photo" src="https://res.cloudinary.com/ddmtmwlja/image/upload/v1699382015/zwnihkaumrpao6jfllnj.webp" alt="view of the park of the huts">
    </section>
  </main>
</Layout>

<style>
.mainCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.sign{
  position: absolute;
  top: 20px;
  left: 25px;
  color: #d1272d;
  text-decoration: none;
  align-self: start;
  scale: 3;
  transition: scale 0.3s ease-in-out;
}

.sign:hover {
  scale: 3.5;
  color: #f2f2f2;
}

.mainContTitle {
  font-size: 64px;
  border-bottom: 2px solid #d1272d;
  width: fit-content;
  cursor: default;
  margin-top: 15px;
}

.mainGallery{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.photo{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
</style>