---
import Layout from "../layouts/Layout.astro";
import "./gallery.css";
---

<Layout>
  <main class="mainCont">
    <a class="sign" href="..">🡸</a>
    <h1 class="mainContTitle">Gallery</h1>
    <section class="mainGallery">
      <img class="photo" src="https://res.cloudinary.com/ddmtmwlja/image/upload/v1699382012/zeiwhse3dhrriaje08py.webp" alt="view of the huts">
      <img class="photo" src="https://res.cloudinary.com/ddmtmwlja/image/upload/v1699382012/bpqjmmgqp0jzfj4mijur.webp" alt="view of the huts">
      <img class="photo" src="https://res.cloudinary.com/ddmtmwlja/image/upload/v1699382013/un4txjkjauzccmsum9sl.webp" alt="a view of the swimming pool from the hut">
      <img class="photo" src="https://res.cloudinary.com/ddmtmwlja/image/upload/v1699382013/l2llxupapuqhrdsqmrgs.webp" alt="view of the park">
      <img class="photo" src="https://res.cloudinary.com/ddmtmwlja/image/upload/v1699382013/tuaooh28bzrvxvfukwar.webp" alt="a breakfast in the park">
      <img class="photo" src="https://res.cloudinary.com/ddmtmwlja/image/upload/v1699382013/rrtyoultr61le5nj0pgh.webp" alt="view of the sunset">
      <img class="photo" src="https://res.cloudinary.com/ddmtmwlja/image/upload/v1699382013/dyc7x5thcxrtyq8gmbrq.webp" alt="a flower">
      <img class="photo" src="https://res.cloudinary.com/ddmtmwlja/image/upload/v1699382013/tvdyh3dz9caqsroi2v9p.webp" alt="a sign of the huts">
      <img class="photo" src="https://res.cloudinary.com/ddmtmwlja/image/upload/v1699382014/r8kh9zzcfgzqjzk7acus.webp" alt="swimming pool">
      <img class="photo" src="https://res.cloudinary.com/ddmtmwlja/image/upload/v1699382013/npldjwb3rpg8plpzkvxr.webp" alt="a view of the entrie to the huts">
      <img class="photo" src="https://res.cloudinary.com/ddmtmwlja/image/upload/v1699382014/bkiedukodxhqldagm1oy.webp" alt="a view of the huts from the swimming pool">
      <img class="photo" src="https://res.cloudinary.com/ddmtmwlja/image/upload/v1699382014/pz19vpesemevawouzhs4.webp" alt="a view of the huts">
      <img class="photo" src="https://res.cloudinary.com/ddmtmwlja/image/upload/v1699382014/nd2amcbwsj0mrispte2g.webp" alt="a tree in the park">
      <img class="photo" src="https://res.cloudinary.com/ddmtmwlja/image/upload/v1699382015/zwnihkaumrpao6jfllnj.webp" alt="view of the park of the huts">
    </section>
  </main>
</Layout>
