---
import Layout from "../layouts/Layout.astro";
import "./gallery.css";
---

<Layout>
  <main class="mainCont">
    <h1 class="mainContTitle">Gallery</h1>
    <section class="mainGallery">
      <img class="photo" src="foto1.webp" alt="">
      <img class="photo" src="foto2.webp" alt="">
      <img class="photo" src="foto3.webp" alt="">
      <img class="photo" src="foto4.webp" alt="">
      <img class="photo" src="foto5.webp" alt="">
      <img class="photo" src="foto6.webp" alt="">
      <img class="photo" src="foto7.webp" alt="">
      <img class="photo" src="foto8.webp" alt="">
      <img class="photo" src="foto9.webp" alt="">
      <img class="photo" src="foto10.webp" alt="">
      <img class="photo" src="foto11.webp" alt="">
      <img class="photo" src="foto12.webp" alt="">
      <img class="photo" src="foto13.webp" alt="">
      <img class="photo" src="foto14.webp" alt="">
      <img class="photo" src="foto15.webp" alt="">
      <img class="photo" src="foto16.webp" alt="">
    </section>
  </main>
</Layout>
