:root {
    background-color: Canvas;
    color: CanvasText;
    color-scheme: dark light;
    font-family: system-ui, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 3rem;
    margin: 2rem;
}

.sectionContTitle{
    font-size: 60px;
    border-bottom: 2px solid #d1272d;
    cursor: default;
}

.navContUl{
    list-style: none;
    margin: 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.navContUl a {
    text-decoration: none;
    color: CanvasText;
    font-size: 1.5rem;
    font-weight: 500;
}

.navContLi{
    transition: all 0.3s ease-in-out;
    width: fit-content;
}

.navContLi:hover{
    text-decoration: underline #d1272d;
    cursor: pointer;
    transform: scale(1.5);
}

.contBtns{
    display: flex;
    justify-content: center;
}

.contBtns button {
    margin: .5rem;
    padding: 1rem;
    border: none;
    border-radius: 100%;
    color: #f2f2f2;
    transition: background-color,transform .5s ease-in-out;
}

.contBtns button:hover {
    cursor: pointer;
    outline: 2px solid CanvasText;
    transform: scale(1.1);
}

.btnWpp {
    background-color: #25d365;
}

.btnIg {
    background-color: #cc39a5;
}

.btnFace {
    background-color: #4267b2;
}

.fa-brands {
    font-size: 1.5rem;
}