---
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'

const linkLocation = 'https://www.google.es/maps/place/La+Arboleda+en+Carpinteria/@-32.3950068,-65.0057687,16z/data=!4m6!3m5!1s0x95d2e3220122fe8d:0x841412906b839df!8m2!3d-32.3950068!4d-65.0013913!16s%2Fg%2F11h21_28c7?hl=es&entry=ttu'

const API_KEY = "979046cf3730ad09da6a2e07f6b018db"

const res = await fetch(`https://api.openweathermap.org/data/2.5/weather?lat=-32.410421&lon=-65.011677&units=metric&appid=${API_KEY}`)
const data = await res.json()

const temp = Math.round(data.main.temp)
---

<Layout title='La Arboleda'>
<main class="mainCont">
    <section class="sectionCont">
        <h1 class="sectionContTitle">La Arboleda</h1>
            <nav class="navCont">
                <ul class="navContUl">
                    <li class="navContLi about">
                        <a href="/about">About</a>
                    </li>
                    <li class="navContLi gallery">
                        <a href="/gallery">Gallery</a>
                    </li>
                    <li class="navContLi location">
                        <a href={linkLocation}>Location</a>
                    </li>
                </ul>
            </nav>
    </section>
    <section class="contBtns">
            <a href="https://wa.link/o1g51t">
                <i class="fa-brands fa-whatsapp"></i>
            </a>
            <a href="https://www.instagram.com/laarboledaen/">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/laarboledaencarpinteria">
                <i class="fa-brands fa-facebook-messenger"></i>
            </a>
    </section>
    <section class="weather">
        <h3>{data.name}, San Luis</h3>
        <div class="weatherCond">
            {data.weather[0].main == 'Clear' ? <i class="fa-solid fa-sun"></i> : <i class="fa-solid fa-cloud"></i> }
            <p class="temperature">{temp}°C</p>
        </div>
    </section>
</main>
</Layout>

<style>
body {
    height: 100vh;
    overflow: hidden;
}

.weather{
    position: absolute;
    top: 0;
    background: #d1272d;
    color: #f2f2f2;
    padding: 10px;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    cursor: default;
}

.weatherCond{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.fa-solid{
    font-size: 1.2rem;
}

.temperature{
    font-weight: 800;
    font-size: 2rem;
}

.mainCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin: 2rem;
}

.sectionContTitle {
    font-size: 64px;
    border-bottom: 2px solid #d1272d;
    cursor: default;
}

.navContUl {
    list-style: none;
    margin: 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.navContUl a {
    text-decoration: none;
    color: CanvasText;
    font-size: 2rem;
    font-weight: 900;
    transition: all 0.3s ease-in-out;
}

.navContUl a:hover {
    color: #d1272d;
}

.navContLi {
    transition: all 0.3s ease-in-out;
    width: fit-content;
}

.navContLi:hover {
    cursor: pointer;
}

.contBtns {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.fa-brands{
    color: CanvasText;
    font-size: 2rem;
    transition: all 0.3s ease-in-out;
}

.fa-facebook-messenger:hover {
    color: #4267B2;
    scale: 1.5;
}

.fa-whatsapp:hover {
    color: #25d365;
    scale: 1.5;
}

.fa-instagram:hover {
    color: #E1306C;
    scale: 1.5;
}
</style>