<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<script src="https://kit.fontawesome.com/84424f6322.js" crossorigin="anonymous"></script>
		<title>La Arboleda</title>
	</head>
	<body style="margin: 0">
		<slot />
	</body>
</html>
