@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
}

body.dark-mode {
    background-color: #222;
    color: #FFF;
}

/* MODIFY SCROLLBAR FIREFOX*/
* {
    scrollbar-width: thin;
    scrollbar-color: inherit #EE5656;
}

/* MODIFY SCROLLBAR CHROME EDGE SAFARI*/
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: inherit;
}

*::-webkit-scrollbar-thumb {
    background: #EE5656;
    border-radius: 20px;
    border: #EE5656;
}