.nav-bar {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    background: #d1272d;
    box-shadow: 0px 0px 5px #000;
    z-index: 2;
}

.item {
    font-weight: 800;
    margin: 10px;
    border: none;
    background: transparent;
}

a[btn-nav]{
    color: #f2f2f2;
    font-weight: 900;
    letter-spacing: 1px;
    text-decoration: none;
}

.dark {
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 20px;
    cursor: pointer;
    outline: 1px solid #000;
    border-radius: 100%;
    background: #333;
}

.dark:hover {
    transform: scale(1.1);
}

.light {
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 20px;
    display: none;
    cursor: pointer;
    outline: 1px solid #f2f2f2;
    border-radius: 100%;
    background: #fff;
}

.light:hover {
    transform: scale(1.1);
}

.bg-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-image: url("../images/bg.webp");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.selected {
    border-bottom: 2px solid #f2f2f2;
}

.we-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
    height: 100vh;
}

.we-intro {
    margin: 5%;
    text-align: center;
}

.opinion-container {
    display: grid;
    grid-template-columns: 230px 230px;
    justify-items: center;
}

.opinion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 13px;
    margin: 1rem;
    text-align: center;
    width: 70%;
    height: 180px;
    border-radius: 50px 5px 50px 5px;
    outline: 2px solid #aaa;
}

.stars {
    color: #ffae00;
}

.gallery-container{
    height: 100vh;
}

.gallery {
    display: grid;
    grid-template-rows: repeat(5, 140px);
    grid-template-columns: repeat(2, 170px);
    justify-content: center;
    align-content: center;
    height: 100vh;
    gap: 10px;
}

.gallery img {
    border-radius: 10px;
    height: 140px;
    width: 170px;
    object-fit: cover;
    outline: 1px solid #f2f2f2;
}

.gallery img:hover {
    transition: 0.4s;
    cursor: pointer;
    filter: opacity(.5);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-img {
    border-radius: 20px;
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    display: block;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 5;
}

.form-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.map {
    height: 30%;
    width: 80%;
    border: none;
    border-radius: 20px;
}

.form {
    outline: 2px solid #d1272d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #f2f2f2;
    padding: 1rem;
    width: 80%;
    height: 35%;
    border-radius: 10px;
    margin-top: 30px;
}

.label-contact {
    color: #000;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 900;
}

.label-from, 
.label-to {
    text-align: center;
    color: #000;
}

.form input {
    padding: 8px;
    margin: 8px;
    border: none;
    border-bottom: 2px solid #d1272d;
    background: none;
}

.form input:focus {
    outline: none;
}

.form input::placeholder {
    color: #000;
}

.btn {
    margin-top: 20px;
    border: 2px solid #d1272d;
    background: #d1272d;
    border-radius: 10px;
    padding: 5px;
    font-size: 18px;
    letter-spacing: 2px;
    color: #000;
    font-weight: 900;
}

.btn:hover {
    box-shadow: 0px 0px 10px #d1272d;
}

.btn:active {
    transform: scale(1.02);
}

.social-list {
    display: flex;
    gap: 15px;
    margin: 20px;
    list-style: none;
}

.social-f {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #1971E7;
    outline: 2px solid #000;
    border-radius: 10px;
}

.social-w {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background: #22C860;
    outline: 2px solid #000;
    border-radius: 10px;
}

.social-f i, 
.social-w i {
    color: #f2f2f2;
    font-size: xx-large;
}

.social-f:hover,
.social-w:hover {
    transform: scale(1.05);
}

footer {
    width: 100%;
    background: #d1272d;
    padding: 15px;
}

footer p {
    text-align: center;
    font-weight: 800;
}