<main>
    <h1>La Arboleda</h1>
    <nav>
        <ul>
            <li><a href="/laArboleda/">Home</a></li>
            <li><a href="/laArboleda/about">About</a></li>
            <li><a href="/laArboleda/gallery">Gallery</a></li>
            <li><a href="/laArboleda/contact">Contact</a></li>
        </ul>
    </nav>
    <button>Whatsapp</button>
    <button>Instagram</button>
    <button>Facebook</button>
</main>